.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color:white;
    top: 0;
    z-index: 991;
    div {
        display: flex;
        z-index: 991;
    }
   
}

.sidebar{
    margin-left: 12px;
}

i{
    font-size: 25px;
}

button {
    padding: 0;
    border: none;
    background: none;
    &:focus{
        outline: none;
    }
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.sidebar{
    padding: 0px 10px 0px 10px;
}

.logo img{
    padding: 0px 10px 0px 10px;
    width: 80px;
    height: 35px;
}

.search-bar input{
    width: 300px;
    height: 22px;
}

.search {
    padding: 0px 10px 0px 10px;
}

.studio {
    padding: 0px 10px 0px 10px;
    align-items: center;
}

.setting {
    padding: 0px 10px 0px 10px;
}

.display-setting {
    width: 300px;
    background-color:whitesmoke;
    top: 0;
    right: 47px;
    opacity: 98%;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: top 350ms ease-in-out;
    .text-user{
        &:first-child {
            margin-top: 3.2rem;
        }
        display: flex;
        flex-direction: row;
    }

    .text-setting {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        div{
            
            padding: 0 10px 0 10px;
            width: 50px;
            text-align: center;
        }
    }

    .text-setting:hover {
        background-color: #464646;
    }
}

.notification {
    padding: 0px 10px 0px 10px;
}

.profile {
    padding: 0px 10px 0px 10px;
}

.profile img{
    width: 30px;
}

.profile-img {
    width: 4vw;
    height: 4vw;
}

.menu {
    overflow: scroll;
    overflow-x: hidden;
    opacity: 98%;
    background-color: whitesmoke;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 990;
    top:0;
    height: 100%;
    width: 250px;
    transition: left 350ms ease-in-out;

    .text-menu {
        &:first-child {
            margin-top: 3.2rem;
        }
        
    }

    .text-subs, .text-playlist{
        div{
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: 14px;
            }
        }
    }
}

.text-menu:hover {
    background-color: #464646;
}

.text-menu {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    div{
        padding: 0 10px 0 10px;
        width: 50px;
        text-align: center;
    }
}

.list-subs, .list-playlist{
    display: flex;
    flex-direction: column;
    div{
        &:hover{
            background-color: #464646;
        }
    }
}



.subscribe{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    
    .photo{
        display: flex;
        width: 15%;
        align-items: center;
        img{
            width: 100%;
            border-radius: 50px;
        }
    }

}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 90%;               
    background-color:lightgray;
    height: 2px;
}

.modal-bg {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-keyboard {
    background-color:  whitesmoke;
    margin: 7.5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 70%;
}

.modal-component {
    margin-left: 8vw;
}

.modal-header {
    align-items: flex-end;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal-keyboard{
    display: flex;
    flex-direction: row;
}

.user-menu {
    width: 250px;
    background-color:whitesmoke;
    top: 0;
    right: 0px;
    opacity: 98%;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: top 350ms ease-in-out;

    .text-user {
        &:first-child {
            margin-top: 3.4rem;
        }
    }
}

.text-user{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
    align-content: stretch;
    div{
        
        padding: 0 10px 0 10px;
        width: 50px;
        text-align: center;
    }
}

.text-user img{
    width: 100%;
}

.text-user:hover{
    background-color: #464646;
}