<div class="flex-container" >
    <div class="">
        <div class="sidebar">
            <button class="accordion" (click)="dropdown()" >
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="logo">
            <a routerLink="/">
                <img src="../../assets/logo/logo.png" alt="not found">
            </a>
        </div>
    </div>

    <div class="">
        <div class="search-bar" (keyup)="getAll()" (click)="toggleSearch()">
            <input type="text" name="search" id="search" placeholder="Search" autocomplete="off">
        </div>
        <div class="autocomplete" *ngIf="toggle_search">
            <div class="isi" *ngFor="let i of searchVideos; index as k" (click)="inputSearch(i)" >
                <p *ngIf="k < 3" >{{i.name}}</p>
            </div>
            <div class="isi" *ngFor="let i of searchPlaylists; index as k" (click)="inputSearch(i)" >
                <p *ngIf="k < 3">{{i.name}}</p>
            </div>
            <div class="isi" *ngFor="let i of searchChannel; index as k" (click)="inputSearch(i)" >
                <p *ngIf="k < 3">{{i.name}}</p>
            </div>
        </div>
        
        <div class="search" (click)="search()">
            <button class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <div class="">
        <div class="studio" *ngIf="user">
            <a routerLink="/upload">
            <button class="studio-button">
                <i class="fas fa-video"></i>
            </button>
            </a>
        </div>
        <div class="setting" (click)="toggleSetting()" *ngIf="!user">
            <button class="setting-button">
                <i class="fas fa-cog"></i>
            </button>
            
        </div>
        <div class="notification" *ngIf="user" (click)="toggleNotif()">
            <div class="notification-button">
                <i class="fas fa-bell"></i>
                <div class="total-notif">
                    <p>{{notificationLen}}</p>
                </div>
            </div>
            
        </div>
        <div class="profile">
            <button *ngIf="!user" (click)="toggleLogin()">
                <img src="../../assets/images/profile.png" alt="">
            </button>
            <button *ngIf="user" (click)="toggleUser()">
                <img style="border-radius: 50px;" src= "{{user.photoUrl}}" alt="">
            </button>
        </div>
        
    </div>
</div>

<div class="menu" [style.left] = "visible ? '0' : '-100%'">
    <div class="text-menu">
        <div>
            <i class="fas fa-home"></i>
        </div>
        <a routerLink="/"><p>Home</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fas fa-fire nav-icon"></i>
        </div>
        <a routerLink="/trending"><p>Trending</p></a>
    </div>
    <div class="text-menu" *ngIf="user">
        <div>
            <i class="fab fa-youtube nav-icon"></i>
        </div>
        <a routerLink="/subscription"><p>Subscription</p></a>
    </div>
    <div class="text-menu" *ngIf="!user" (click)="signInWithGoogle()">
        <div>
            <i class="fas fa-users"></i>
        </div>
        <p>Login</p>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-id-card-o nav-icon"></i>
        </div>
        <a href="/premium"><p>Membership</p></a>
    </div>
    <div>
        <hr>
    </div>
    <div class="text-menu">
        <div>    
            <i class="fa fa-music nav-icon"></i>
        </div>
        <a href="/category/Music"><p>Music</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-bicycle nav-icon"></i>
        </div>
        <a href="/category/Sport"><p>Sport</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-gamepad nav-icon"></i>
        </div>
        <a href="/category/Gaming"><p>Gaming</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-television nav-icon"></i>
        </div>
        <a href="/category/Entertainment"><p>Entertainment</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-newspaper-o nav-icon"></i>
        </div>
        <a href="/category/News"><p>News</p></a>
    </div>
    <div class="text-menu">
        <div>
            <i class="fa fa-plane nav-icon"></i>
        </div>
        <a href="/category/Travel"><p>Travel</p></a>
    </div>
    <div>
        <hr>
    </div>
    <div class="text-playlist">
        <div>
            <p>PLAYLISTS</p>
        </div>
    </div>
    <div class="list-playlist">
        <div *ngFor="let i of playlist; index as idx">
            <app-playlist-sidebar [playlist]="i" *ngIf="idx < (lastPlaylist)"></app-playlist-sidebar>
        </div>
    </div>
    <div class="show-playlist" *ngIf="playlistLen > 5">
        <i *ngIf="toggle_playlist" class="fas fa-angle-up" style="margin-right: 10px;"></i>
        <i *ngIf="!toggle_playlist" class="fas fa-angle-down" style="margin-right: 10px;"></i>
        <p *ngIf="!toggle_playlist" (click)="morePlaylist()">SHOW MORE</p>
        <p *ngIf="toggle_playlist" (click)="hidePlaylist()">SHOW LESS</p>
    </div>
    <div>
        <hr>
    </div>

    <div class="text-subs">
        <div>
            <p>SUBSCRIPTIONS</p>
        </div>
    </div>
    <div class="list-subs">
        <div *ngFor="let i of subscription; index as idx">
            <app-list-subscription [subscription] = "i" *ngIf="idx < (lastSubscribe)"></app-list-subscription>
        </div>
    </div>
    <div class="show-playlist"  *ngIf="subscribeLen > 10">
        <i *ngIf="toggle_subscribe" class="fas fa-angle-up" style="margin-right: 10px;"></i>
        <i *ngIf="!toggle_subscribe" class="fas fa-angle-down" style="margin-right: 10px;"></i>
        <p *ngIf="!toggle_subscribe" (click)="moreSubscription()">SHOW MORE</p>
        <p *ngIf="toggle_subscribe" (click)="hideSubscription()">SHOW LESS</p>
    </div>
    <div>
        <hr>
    </div>
    <div class="text-other">
        <a href="https://www.youtube.com/about/" target="_blank"><p>About</p></a>
        <a href="https://www.youtube.com/about/press/" target="_blank"><p>Press</p></a>
        <a href="https://www.youtube.com/about/copyright/" target="_blank"><p>Copyright</p></a>
        <a href="https://www.youtube.com/t/contact_us" target="_blank"><p>Contact Us</p></a>
    </div>
    
</div>

<div class="display-setting" [style.top] = "toggle_setting ? '0' : '-1000%'">
    <div class="text-setting">
        <div>
            <i class="fas fa-child"></i>
        </div>
        <p>Restriction </p>
        <p *ngIf="toggle_restriction" style="color: green;">YES</p>
        <p *ngIf="!toggle_restriction" style="color: red;">NO</p>
    </div>
    <div class="text-setting">
        <div>
            <i class="fas fa-compass"></i>
        </div>
        <p>Location</p>
    </div>
    <div class="text-setting" (click)="toggleModal()" (click)="toggleSetting()">
        <div>
            <i class="fas fa-keyboard"></i>
        </div>
        <p>Keyboard Shortcut</p>
    </div>
</div>

<div class="modal-bg" [style.display] = "toggle_modal ? 'block':'none'">
    <div class="modal-keyboard">
        <div class="modal-header">
            <button class="close" (click)="toggleModal()">&times;</button>
        </div>
        <div class="modal-component">
            <ul>
                <li>
                    <p>j - backward 10 second</p>
                </li>
                <li>
                    <p>k - play or pause video</p>
                </li>
                <li>
                    <p>l - forward 10 second</p>
                </li>
                <li>
                    <p>f - fullscreen mode</p>
                </li>
                <li>
                    <p>↑ - up the video volume</p>
                </li>
                <li>
                    <p>↓ - low the video volume</p>
                </li>
    
                <li><p>Right-click on video player – display options:</p></li>
                <ol>
                    <li>
                        <p>Loop – loop video.</p>
                    </li>
                    <li>
                        <p>Copy link, copy video URL to the clipboard.</p>
                    </li>
                    <li>
                        <p>Copy link with the current time, copy</p>
                    </li>
                </ol>
            </ul>
        </div>
    </div>
</div>

<div class="user-menu" [style.top] = "toggle_user ? '0' : '-1000%'" *ngIf="user">
    <div class="text-user" >
        <div>
            <img style="border-radius: 50px;" src= "{{user.photoUrl}}" alt="">
        </div>
        <p>{{user.name}}</p>
    </div>
    <div class="text-user" [routerLink]="['/channel', user.id]">
        <div>
            <i class="fas fa-id-badge"></i>
        </div>
        <p>Your Channel</p>
    </div>
    <div class="text-user">
        <div>
            <i class="fas fa-dollar-sign"></i>
        </div>
        <a href="/premium"><p>Paid Membership</p></a>
    </div>
    <div class="text-user" (click)="toggleSign()">
        <div>
            <i class="fas fa-user-circle"></i>
        </div>
        <p>Switch Account</p>
    </div>
    <div class="text-user" (click)="signOutFirst()">
        <div>
            <i class="fas fa-sign-out-alt"></i>
        </div>
        <p>Sign Out</p>
    </div>
    <div class="text-user" (click)="toggleRestriction()">
        <div>
            <i class="fas fa-child"></i>
        </div>
        <p>Restriction</p>
        <p *ngIf="!toggle_restriction" style="color: red; margin-left: 5px; font-size: 16px;">NO</p>
        <p *ngIf="toggle_restriction" style="color: green; margin-left: 5px; font-size: 16px;">YES</p>
    </div>
    <div class="text-user">
        <div>
            <i class="fas fa-compass"></i>
        </div>
        <p>Location</p>
    </div>
    <div class="text-user" (click)="toggleModal()" (click)="toggleUser()">
        <div>
            <i class="fas fa-keyboard"></i>
        </div>
        <p>Keyboard Shortcut</p>
    </div>
</div>

<div id="myModal" class="modal" *ngIf="toggle_sign">

    <div class="modal-content">
      <span class="close" (click)="toggleSign()">&times;</span>
      <div style="display: flex; justify-content: center;">
          <p>Are you sure want to sign out ?</p>
      </div>
      <div style="display: flex; justify-content: center;">
          <div (click)="signOut()" style="margin: 10px 10px; background-color: lightblue; width: 100px; border-radius: 5px; text-align: center;">
              <p style="margin: 0; padding: 10px;">Yes</p>
          </div>
          <div style="margin: 10px 10px; background-color: lightcoral; width: 100px; border-radius: 5px; text-align: center;">
              <p style="margin: 0; padding: 10px;" (click)="toggleSign()">No</p>
          </div>
      </div>
    </div>
  
</div>

<div id="myModal" class="modal" *ngIf="toggle_login">

    <div class="modal-content">
      <span class="close" (click)="toggleLogin()">&times;</span>
      <div style="display: flex; justify-content: center;">
          <p>Login</p>
      </div>
      <div style="display: flex; justify-content: center;">
          <div (click)="signInWithGoogle()" style="margin: 10px 10px; background-color: lightblue; width: 100px; border-radius: 5px; text-align: center;">
              <p style="margin: 0; padding: 10px;">Yes</p>
          </div>
          <div style="margin: 10px 10px; background-color: lightcoral; width: 100px; border-radius: 5px; text-align: center;">
              <p style="margin: 0; padding: 10px;" (click)="toggleLogin()">No</p>
          </div>
      </div>
    </div>
  
</div>

<div class="dropdown-notif" *ngIf="toggle_notif">
    <div class="first">
        <p> </p>
    </div>
    <div class="second" *ngFor="let i of notifications" >
        <app-notification-list [notification]="i"></app-notification-list>
    </div>
    
</div>

