.container{
	width: 100%;
	background-color: white;
	box-shadow: 3px 3px 5px lightgrey;
}

.thumbnail{
	width: 100%;
	height: 70%;
	cursor: pointer;
	position: relative;
	.duration{
		display: flex;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 10px;
		padding: 2px;
		background-color: black;
		opacity: 90%;
		border-radius: 5px;
		p{
			padding: 4px;
			margin: 0;
			color: white;
			font-size: 12.5px;
			opacity: 100%;
		}
	}
}

.thumbnail img{
	width: 100%;
	overflow: hidden;
}

.videodetail{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: 30%;
	display: flex;

	.other{
		width: 10%;
		display: flex;
		justify-content: center;
		i{
			cursor: pointer;
		}

		.dropdown{
			position: absolute;
			margin-right: 210px;
			width: 180px;
			background-color: white;
			display: flex;
			flex-direction: column;
			padding: 5px;
			box-shadow: 2px 2px 4px lightgrey;
			div{
				padding: 5px;
			}
			p{
				margin: 0;
			}
			.queue{
				cursor: pointer;
				&:hover{
					background-color: grey;
				}
				display: flex;
				align-items: center;
				.logo{
					margin-right: 10px;
				}
			}
			.playlist{
				cursor: pointer;
				&:hover{
					background-color: grey;
				}
				display: flex;
				align-items: center;
				.logo{
					margin-right: 10px;
				}
			}
		}
	}
}

.photo{
	width: 20%;
	height: 100%;
	text-align: center;
}

.photo img {
	width: 60%;
	height: 50%;
	border-radius: 50px;
}

.videodetailarea{
	width: 65%;
    height: 60px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    padding-left: 10px;

    * {
        margin: 0;
    }
}

.videos-name {
	h3 {
		white-space: nowrap; 
		width: 150px; 
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

