
<div class="container">
    <div class="thumbnail" [routerLink]="['/video', videos.id]">
        <img src="{{videos.thumbnail}}" alt="not found">
    </div>
    <div class="videodetail">
        <div class="photo">
            <img src="{{user.photo}}" alt="not found">
        </div>
        <div class="videodetailarea">
            <div class="videos-name">
                <h3>{{videos.name}}</h3>
            </div>
            <div>
                <p>{{user.name}}</p>
            </div>
            <div>
                <p>{{videos.watch}} Views</p>
            </div>
        </div>
    </div>
</div>
