
<div class="container">
    <div class="thumbnail" >
        <img src="{{videos.thumbnail}}" alt="not found" [routerLink]="['/video', videos.id]">
        <div class="duration">
            <p>{{duration}}</p>
        </div>
        <div class="premium" *ngIf="toggle_premium">
            <p>PREMIUM</p>
        </div>
        <div class="edit" (click)="togglePicture()" *ngIf="isOwnChannel">
            <i class="fas fa-pen-square fa-2x"></i>
        </div>
    </div>
    <div class="videodetail">
        <div class="photo">
            <img src="{{photo}}" alt="not found">
        </div>
        <div class="videodetailarea">
            <div class="videos-name">
                <h3>{{videos.name}}</h3>
            </div>
            <div>
                <p (click)="toUser()">{{name}}</p>
            </div>
            <div>
                <p>{{views}} views &bull; {{calculate_day}}</p>
            </div>
            
        </div>
        <div class="other" *ngIf="toggle_login">
            <i class="fas fa-ellipsis-v" (click)="toggleOther()"></i>
            <div class="dropdown" *ngIf="toggle_other">
                <div class="queue">
                    <div class="logo">
                        <i class="fas fa-list-ol"></i>
                    </div>
                    <div class="text">
                        <p>Add to queue</p>
                    </div>
                </div>
                <div class="playlist" (click)="toggleModal()">
                    <div class="logo">
                        <i class="fas fa-list-ul"></i>
                    </div>
                    <div class="text">
                        <p>Save to playlist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" *ngIf="toggle_modal">
        <app-modal-playlist  [videos]="videos"></app-modal-playlist>
    </div>
</div>

<div class="modal-picture" [style.display]="toggle_picture ? 'block':'none'">
    <div class="modal-content" style="display: block;">
        <div style="background-color: #D4F7D4; padding: 20px;">
            <span class="close" (click)="togglePicture()">&times;</span>
            <div>
                <p>Edit title</p>
                <input type="text" name="edit-title" id="edit-title" [value]="edit_title">
            </div>
            <div>
                <p>Edit description</p>
                <input type="text" name="edit-description" id="edit-description" [value]="edit_description">
            </div>
            <div>
                <div (click)="toggleEditThumbnail()">
                    <p *ngIf="!toggle_thumbnail" style="background-color: #549D53; cursor: pointer; padding: 5px; width: fit-content; border-radius: 5px;">Edit thumbnail</p>
                    <p *ngIf="toggle_thumbnail" style="background-color: #FD3D12; cursor: pointer; padding: 5px; width: fit-content; border-radius: 5px;">Cancel</p>
                </div>
                <div *ngIf="toggle_thumbnail">
                    <input type="file" name="edit-thumbnail" id="edit-thumbnail" (change)="startUploadThumbnail($event.target.files)">
                </div>
            </div>
            <div>
                <p>Edit privacy</p>
                <div style="display: flex; flex-direction: column;">
                    <div>
                        <input (click)="togglePublic()" type="radio" name="edit-privacy" id="edit-privacy">
                        <label for="edit-privacy">Public</label>
                    </div>
                    <div>
                        <input (click)="togglePrivate()" type="radio" name="edit-privacy" id="edit-privacy">
                        <label for="edit-privacy">Private</label>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="display: flex; background-color: #341109; width: 100%; justify-content: center;">
                <p (click)="updateVideo()" style="background-color: #549D53; cursor: pointer; padding: 5px; width: fit-content; border-radius: 5px; ">Save changes</p>
                <p (click)="deleteVideo()" style="background-color: #FD3D12; cursor: pointer; padding: 5px; width: fit-content; border-radius: 5px;   margin-left: 10px;">Delete video</p>
            </div>
        </div>
    </div>  
</div>


