<div class="container">
    <div class="bars">
        <i class="fas fa-bars"></i>
    </div>
   
    <div class="thumbnail" [routerLink]="['/video', videosid]">
        <img src="{{thumbnail}}" alt="">
        <div class="premium" *ngIf="toggle_premium">
            <p>PREMIUM</p>
        </div>
        <div class="duration">
            <p>{{duration}}</p>
        </div>
    </div>
   
    <div class="info">
        <div class="title">
            <p>{{videosname}}</p>
        </div>
        <div>
            <p style="margin: 0;">{{description}}</p>
        </div>
        <div class="name">
            <p (click)="toUser()">{{name}}</p>
        </div>
    </div>
    <div class="other" *ngIf="toggle_self">
        <div class="icon" (click)="toggleEtc()">
            <i class="fas fa-ellipsis-v"></i>
            <div class="etc" *ngIf="toggle_etc">
                <div class="remove" (click)="deleteDetail()">
                    <div>
                        <i class="fas fa-trash"></i>
                    </div>
                    <p>Remove</p>
                </div>
                <div class="up">
                    <div>
                        <i class="fas fa-long-arrow-alt-up"></i>
                    </div>
                    <p>Move to top</p>
                </div>
                <div class="down">
                    <div>
                        <i class="fas fa-long-arrow-alt-down"></i>
                    </div>
                    <p>Move to down</p>
                </div>
            </div>
        </div>
    </div>
</div>