.video-container{
    display: flex;
    padding: 5px;
    
    .video{
        width: 300px;
        img {
            width: 100%;
        }
    }

    .video-info{
        width: 920px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .title{
            h3{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

    }
}

.video-container:hover{
    background-color: grey;
}

.other{
    display: flex;
    justify-content: end;
    i{
        cursor: pointer;
    }

    .dropdown{
        position: absolute;
        right: 75px;
        width: 180px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-shadow: 2px 2px 4px lightgrey;
        div{
            padding: 5px;
        }
        p{
            margin: 0;
        }
        .queue{
            cursor: pointer;
            &:hover{
                background-color: grey;
            }
            display: flex;
            align-items: center;
            .logo{
                margin-right: 10px;
            }
        }
        .playlist{
            cursor: pointer;
            &:hover{
                background-color: grey;
            }
            display: flex;
            align-items: center;
            .logo{
                margin-right: 10px;
            }
        }
    }
}