.container{
    margin-top: 50px;

    .header{
        width: 100%;
        height: 50vh;
        overflow: hidden;
        img{
            width: 100%;
            
        }
    }

    .info{
        padding: 20px 50px 20px 50px;
        display: flex;
        align-items: center;

        div{
            padding: 0 10px 0 10px;
        }

        .user-photo{
            img{
                border-radius: 50px;
            }
        }
    }
}