<div class="container" [@fade]>
    <div class="header">
        <img src="{{user.header}}" alt="">
    </div>
    <div class="info">
        <div class="info-first">
            <div class="user-photo">
                <img src="{{user.photo}}" alt="">
            </div>
            <div class="name">
                <h3>{{user.name}}</h3>
                <p>{{total_subs}} subscribers</p>
            </div>
        </div>
        <div>
            <div class="subs-notif" [style.display]="toggle_subs ? 'flex':'none'">
                <div class="subs" (click)="subs()" [style.background-color]="change_subs ? 'red':'grey'">
                    <p>SUBSCRIBE</p>
                </div>
                <div class="notif" [style.display]="change_subs ? 'none':'flex'">
                    <i class="fas fa-bell"></i>
                </div>
            </div>
            <div class="customize" [style.display]="toggle_subs ? 'none':'flex'">
                <p>Customize Channel</p>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-text" [routerLink]="['/channel', id]">
            <p>HOME</p>
            <div *ngIf="toggle_home">
                <hr>
            </div>
        </div>
        
        <div class="menu-text" [routerLink]="['video']">
            <p>VIDEOS</p>
            <div *ngIf="toggle_videos">
                <hr>
            </div>
        </div>
        <div class="menu-text" [routerLink]="['playlist']">
            <p>PLAYLISTS</p>
            <div *ngIf="toggle_playlists">
                <hr>
            </div>
        </div>
        <div class="menu-text" [routerLink]="['community']">
            <p>COMMUNITY</p>
            <div *ngIf="toggle_community">
                <hr>
            </div>
        </div>
        <div class="menu-text" [routerLink]="['about']">
            <p>ABOUT</p>
            <div *ngIf="toggle_about">
                <hr>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div class="child">
        <router-outlet></router-outlet>
    </div>
    
</div>