.container {
    margin-top: 2.5rem;
    padding: 1rem;
}

.upload {
    border-style: groove;
    width: 8rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    margin-top: 35px;

  }

.container-modal{
    display: flex;
    flex-direction: column;
}

.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 80vw;
    font-weight: 200;
    height: 80%;
    border-style: outset;
    border-radius: 5px;
    background: white;
    margin: 3.5rem 3.5rem 0 3.5rem;
    overflow: hidden;
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.container-file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload{
    border-style: none;
}

.inner-button{
    display: flex;
    align-items: center;
}

.inner-button button {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.file-label input{
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.upload-setting{
    display: flex;
    min-width: 80vw;
    font-weight: 200;
    height: 80%;
    border-style: outset;
    border-radius: 5px;
    background: white;
    margin: 3.5rem 3.5rem 0 3.5rem;
    overflow: hidden;

    .left{
        overflow: scroll;
        width: 60%;
        padding: 10px;
        input, select, textarea{
            border-style: groove;
            border-radius: 10px;
            border-color: lightgrey;
        }
        div{
            padding: 10px;
        }
        .input-title{
            input{
                height: 30px;
                width: 300px;
            }
        }
        .input-description{
            textarea{
                width: 300px;
            }
        }
        .input-thumbnail{
            input{
                align-items: center;
                width: 265px;
            }
        }
        .input-category{
            select{
                width: 300px;
                height: 30px;
            }
        }
        .button-upload{
            display: flex;
            div{
                cursor: pointer;
                margin-right: 20px;
                border-radius: 5px;
                border-style: groove;
                width: 100px;
                padding: 5px;
                display: flex;
                justify-content: center;
                p{
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
        .input-playlist{
            select{
                width: 300px;
                height: 30px;
            }
            .new-playlist{
                cursor: pointer;
                margin-top: 20px;
                border-radius: 5px;
                border-style: groove;
                width: 100px;
                padding: 5px;
                display: flex;
                justify-content: center;
                p{
                    font-size: 14px;
                    margin: 0;
                }
            }
            .input-new-playlist{
                input{
                    height: 30px;
                    width: 300px;
                }
            }

            .submit-playlist{
                cursor: pointer;
                margin-left: 10px;
                border-radius: 5px;
                border-style: groove;
                width: 80px;
                padding: 5px;
                display: flex;
                justify-content: center;
                p{
                    font-size: 12px;
                    margin: 0;
                }
            }
        }

        .input-schedule{
            input{
                height: 30px;
                width: 300px;
            }
            margin: 0 0 30px 0;
        }

    }

    .right{
        overflow: scroll;
        width: 40%;
        padding: 20px;

        .vid, .thumb{
            width: 100%;
        }

        .thumb img{
            width: 100%;
        }

        div{
            padding: 10px;
        }
        .link{
            display: flex;
            flex-direction: column;
            padding: 10px;
            p{
                margin: 5px 0 5px 0;
            }
        }
    }
}