<div class="container">
  <div class="title">
    <h1>Channel Videos</h1>
  </div>
  <div class="upload" (click)="toggleUpload()">
    <i class="fas fa-video"></i>
    <p>CREATE</p>
  </div>
</div>

<div class="container-modal">

  <div class="modal" [style.display] = "toggle_upload ? 'block':'none'">

    <div class="dropzone" *ngIf="!isUploaded" dropzone (hovered)="toggleHover($event)"(dropped)="onDrop($event)"[class.hovering]="isHovering">
      
      <h3>Drop Video Here</h3>
      <p>Drag and Drop a File</p>
      <p *ngIf="toggle_title" style="margin: 0 0 10px 0;">{{title}}</p>
      
      <div class="container-file">
        <div class="file">
          <label class="file-label">
            <input class="file-input" type="file" accept="video/*" (change)="onDrop($event.target.files)">
          </label>
        </div>

        <div class="inner-button">
          <div class="upload">
            <button class="upload-button" (click)="startUpload()">
              Upload
            </button>
          </div>
          <div class="cancel">
            <button (click)="toggleUpload()">
              Cancel  
            </button>
          </div>
        </div>   
      </div>
      <br>
      <div *ngIf="snapshot | async as snap">
        {{ snap.bytesTransferred }} of {{ snap.totalBytes }} 
      </div>
    </div>
    
    <div class="upload-setting" *ngIf="isUploaded">
      <div class="left">
        <div>
          <h3>Detail</h3>
        </div>
        <div class="input-title">
          <input type="text" name="title" id="title" placeholder="Title">
        </div>
        <div class="input-description">
          <textarea name="description" id="description" cols="30" rows="10" placeholder="Description" style="font-family: Arial, Helvetica, sans-serif; resize: none;"></textarea>
        </div>
        <div class="input-thumbnail">
          <h4>Thumbnail</h4>
          <label class="file-label">
            <input class="file-input" type="file" accept="image/*" (change)="thumbnailPath($event.target.files)" (change)="startUploadThumbnail($event.target.files)">
          </label>
        </div>
        <div class="input-category">
          <h4>Category</h4>
          <select name="category" id="category">
            <option value="Music">Music</option>
            <option value="Sport">Sport</option>
            <option value="Gaming">Gaming</option>
            <option value="Entertainment">Entertainment</option>
            <option value="News">News</option>
            <option value="Travel">Travel</option>
          </select>
        </div>
        <div class="input-audience">
          <h4>Audience</h4>
          <div>
            <input type="radio" name="restriction" id="restriction" value="adult">
            <label for="adult">Adult</label>
          </div>
          <div>
            <input type="radio" name="restriction" id="restriction" value="kids">
            <label for="kids">Kids</label>
          </div>
        </div>

        <div class="input-playlist">
          <h4>Playlist</h4>
          <div class="new-playlist" (click)="toggleShowPlaylist()">
            <p>Add to Playlist</p>
          </div>
          <select name="myPlaylist" id="myPlaylist" [style.display]="toggle_addPlaylist ? 'flex':'none'" style="margin-top: 20px;">
          </select>
          <div class="new-playlist" (click)="togglePlaylist()">
            <p>New Playlist</p>
          </div>
          <div class="input-new-playlist" [style.display]="toggle_playlist ? 'block':'none'">
            <p>Title</p>
            <input type="text" name="title-playlist" id="title-playlist" placeholder="Input title">
          </div>
          <div [style.display]="toggle_playlist ? 'block':'none'">
            <p style="margin:0 0 5px 0;">Privacy</p>
            <div style="display: flex; align-items: center;">
              <input type="radio" name="privacy-playlist" id="privacy-playlist" value="public">
              <label for="privacy-playlist">Public</label>
            </div>
            <div style="display: flex; align-items: center;">
              <input type="radio" name="privacy-playlist" id="privacy-playlist" value="private">
              <label for="privacy-playlist">Private</label>
            </div>
          </div>
          <div class="submit-playlist" [style.display]="toggle_playlist ? 'block':'none'" (click)="createPlaylist()">
            <p>Submit</p>
          </div>
        </div>

        <div class="input-privacy">
          <h4>Privacy</h4>
            <div>
              <input type="radio" name="privacy" id="privacy" value="public">
              <label for="privacy">Public</label>
            </div>
            <div>
              <input type="radio" name="privacy" id="privacy" value="private">
              <label for="privacy">Private</label>
            </div>
        </div>
        
        <div class="input-membership">
          <h4>Membership</h4>
          <div>
            <input type="radio" name="membership" id="membership" value="premium">
            <label for="membership">Premium</label>
          </div>
          <div>
            <input type="radio" name="membership" id="membership" value="regular">
            <label for="regular">Regular</label>
          </div>
        </div>

        <div class="input-schedule">
          <h4>Schedule Upload</h4>
          <input type="datetime-local" name="schedule" id="schedule">
        </div>

        <div class="button-upload">
          <div (click)="uploadVideo()">
            <p>Upload</p>
          </div>
          <div (click)="toggleUpload()">
            <p>Cancel</p>
          </div>
        </div>
      </div>

      <div class="right">
        <div>
          <h3>Preview</h3>
        </div>
        <div class="vid" >
          <mat-video src="{{downloadURL}}"></mat-video>
          <video id="myVideo" src="{{downloadURL}}" style="display: none;"></video>
          <div class="link" >
            <div style="display: flex; justify-content: space-between ; padding: 0;">
              <div style="display: flex; flex-direction: column;">
                <p style="font-size: 12px; opacity: 80%;">Video Link</p>
                <p style="color: blue;">http://localhost:4200/video/{{lastId}}</p>
              </div>
              <div style="display: flex; align-items: center; opacity: 70%;">
                <i class="fas fa-copy fa-2x" (click)="copyMessage()" value="click to copy"></i>
              </div>
            </div>
            <div>
              <p style="font-size: 12px; opacity: 80%;">Filename</p>
              <p>{{title}}</p>
            </div>
          </div>
        </div>
        
        <div class="thumb"> 
          <img src="{{thumbnail_path}}" alt="">
        </div>
      </div>
    </div>
    
  </div>

</div>
