
<div class="container" >
    <div class="icon">
        <div>
            <div class="info" *ngIf="category == 'Entertainment'">
                <div class="icon-img">
                    <i class="fas fa-tv fa-3x"></i>
                </div>
                <p>Entertainment</p>
            </div>
        </div>
        <div>
            <div class="info" *ngIf="category == 'Music'">
                <div class="icon-img">
                    <i class="fas fa-music fa-3x"></i>
                </div>
                <p>Music</p>
            </div>
        </div>
        <div>
            <div class="info" *ngIf="category == 'Sport'">
                <div class="icon-img">
                    <i class="fa fa-bicycle fa-3x"></i>
                </div>
                <p>Sport</p>
            </div>
        </div>
        <div>
            <div class="info" *ngIf="category == 'Gaming'">
                <div class="icon-img">
                    <i class="fas fa-gamepad fa-3x"></i>
                </div>
                <p>Gaming</p>
            </div>
        </div>
        <div>
            <div class="info" *ngIf="category == 'News'">
                <div class="icon-img">
                    <i class="fas fa-newspaper fa-3x"></i>
                </div>
                <p>News</p>
            </div>
        </div>
        <div>
            <div class="info" *ngIf="category == 'Travel'">
                <div class="icon-img">
                    <i class="fas fa-plane fa-3x"></i>
                </div>
                <p>Travel</p>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <p>Today</p>
    </div>
    <div class="container-video">
        <div *ngFor="let video of videos;index as i" [style.display]="(day[i]) < 1 ? 'flex':'none'" >
            <app-card *ngIf="i < 20" [videos] = "video"></app-card>
        </div>
    </div>
    <div>
        <p>This week</p>
    </div>
    <div class="container-video">
        <div *ngFor="let video of videos;index as i" [style.display]="(day[i]) >= 1 && (day[i]) <= 7 ? 'flex':'none'" >
            <app-card  *ngIf="i < 20" [videos] = "video"></app-card>
        </div>
    </div>
    <div>
        <p>This month</p>
    </div>
    <div class="container-video">
        <div *ngFor="let video of videos;index as i" [style.display]="(day[i]) > 7 && (day[i]) <= 31 ? 'flex':'none'" >
            <app-card  *ngIf="i < 20" [videos] = "video"></app-card>
        </div>
    </div>
    <div>
        <p>All time</p>
    </div>
    <div class="container-video">
        <div *ngFor="let video of videos;index as i">
            <app-card  *ngIf="i < 20" [videos] = "video"></app-card>
        </div>
    </div>
</div>
