.container {
    display: grid;  
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 250px);
}

.detail{
    display: flex;
    justify-content: space-between;
    .sort{
        p{
            margin: 16px 0 16px 10px;
        }
        align-items: center;
        display: flex;
    }
}