<div class="detail">
    <div>
        <p>Videos</p>
    </div>
    <div style="display: flex; flex-direction: column;"> 
        <div class="sort" (click)="toggleSort()">
            <i class="fas fa-list-ol"></i>
            <p>SORT BY</p>
        </div>
    
        <div class="sort-by" *ngIf="toggle_sort">
            <div>
                <input type="radio" name="sort" id="sort" (click)="toggleView()">
                <label for="sort">Most Popular</label>
            </div>
            <div>
                <input type="radio" name="sort" id="sort" (click)="toggleOldest()">
                <label for="sort">Oldest</label>
            </div>
            <div>
                <input type="radio" name="sort" id="sort" (click)="toggleNewest()">
                <label for="sort">Newest</label>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div *ngFor="let i of viewVideos; index as j" style="margin: 10px;">
        <app-card *ngIf="j<(lastIdx)" [videos]="i"></app-card>
    </div>
    <div class="footer">
        <p> </p>
    </div>
</div>