.container{
    padding: 20px;
    display: flex;
    .description{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .stat{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    .share{
        cursor: pointer;
    }
    .edit{
        cursor: pointer;
    }
}