<div class="container">
    <div class="description" style="margin-right: 40px;">
        <p>Description</p>
        <p>{{user.description}}</p>
        <div>
            <hr>
        </div>
    </div>
    <div class="stat">
        <p>Stats</p>
        <div>
            <hr>
        </div>
        <p>Joined {{date}}</p>
        <div>
            <hr>
        </div>
        <p>{{user.views}} views</p>
        <div>
            <hr>
        </div>
        <div class="share" (click)="toggleShare()">
            <i class="fas fa-share"></i>
        </div>
    </div>

</div>

<div *ngIf="toggle_share">
    <app-modal-share [videos]="id" [section]="section"></app-modal-share>
</div>
