<div class="container">
    <div class="description" style="margin-right: 40px;">
        <p>Description</p>
        <p>{{user.description}}</p>
        <div class="edit" (click)="toggleEdit()" *ngIf="own_user">
            <i class="fas fa-pen-square fa-2x"></i>
        </div>
        <textarea *ngIf="toggle_edit" name="description" id="description" cols="30" rows="10"></textarea>
        <p *ngIf="toggle_edit" (click)="uploadDescription()" style="width: 80px; background-color: lightgrey; cursor: pointer; border-radius: 5px; display: flex; align-items: center; justify-content: center; height: 30px;">Upload</p>
        <div>
            <hr>
        </div>
    </div>
    <div class="stat">
        <p>Stats</p>
        <div>
            <hr>
        </div>
        <p>Joined {{show_date}}</p>
        <div>
            <hr>
        </div>
        <p>{{totalWatch}} views</p>
        <div>
            <hr>
        </div>
        <div class="share" (click)="toggleShare()">
            <i class="fas fa-share"></i>
        </div>
    </div>

</div>

<div *ngIf="toggle_share">
    <app-modal-share [videos]="id" [section]="section"></app-modal-share>
</div>
