<div class="container">
    <div class="video">
        <div class="video-display">
            <mat-video src="{{videos.url}}"></mat-video>
        </div>

        <div class="video-name">
            <h3>{{videos.name}}</h3>
        </div>

        <div class="video-detail">
            <div class="views">
                <p>{{videos.watch}} views &bull; {{calculate_day}}</p>
            </div>
            <div class="menu">
                <div class="like" title="i like this" (click)="likeVideo()">
                    <i class="fas fa-thumbs-up" [style.color]="toggle_thumb == 'like'? 'blue':'black' "></i>
                    <div>
                        <p>{{like.length}}</p>
                    </div>
                </div>

                <div class="dislike" title="i dislike this" (click)="dislikeVideo()">
                    <i class="fas fa-thumbs-down"  [style.color]="toggle_thumb == 'dislike'? 'blue':'black'"></i>
                    <div>
                        <p>{{dislike.length}}</p>
                    </div>
                </div>

                <div class="share">
                    <i class="fas fa-share"></i>
                    <div>
                        <p>SHARE</p>
                    </div>
                </div>

                <div class="playlist">
                    <i class="fas fa-list-ul"></i>
                    <div>
                        <p>SAVE</p>
                    </div>
                </div>

                <div class="download">
                    <i class="fas fa-download"></i>
                    <div>
                        <p>DOWNLOAD</p>
                    </div>
                </div>
                
                <div class="profil">

                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="info-detail">
            <div class="profile">
                <img src="{{user.photo}}" alt="">
            </div>
            <div class="info">
                <div class="first-info">
                    <div class="profile-name">
                        <div>
                            <h4>{{user.name}}</h4>
                            <p>{{total_subs}} subscribers</p>
                        </div>
                    </div>
                    <div class="subs-notif" [style.display]="toggle_subs ? 'flex':'none'">
                        <div class="subs" (click)="subs()" [style.background-color]="change_subs ? 'red':'grey'">
                            <p>SUBSCRIBE</p>
                        </div>
                        <div class="notif" >
                            <i class="fas fa-bell"></i>
                        </div>
                    </div>
                </div>
                
                <div class="second-info">
                    <div>
                        <p>{{videos.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="comment-detail">
            <div class="comment-header">
                <div>
                    <p>{{comment.length}} Comments</p>
                </div>
                <div class="sort">
                    <div>
                        <i class="fas fa-sort-amount-up-alt"></i>
                    </div>
                    <div>
                        <p>SORT BY</p>
                    </div>
                </div>
            </div>

            <div class="my-comment">
                <div class="comment-pic">
                    <img src="{{photoURL}}" alt="">
                </div>
                <div class="comment-input" (click)="toggleTrue()">
                    <input type="text" name="comment" id="comment" placeholder="Input comment here...">
                </div>
            </div>
            <div class="submit" *ngIf="toggle_comment">
                <div class="cancel" (click)="toggleComment()">
                    <p>CANCEL</p>
                </div>
                <div class="comment" (click)="insertComment()">
                    <p>COMMENT</p>
                </div>
            </div>
            
            <div class="user-container">
                <div *ngFor="let com of comment">
                    <app-comment [comments]="com"></app-comment>
                </div>
            </div>
        </div>
    </div>

    <div class="next-video" >
        <div *ngFor="let next of nextVideos">
            <app-next-video [nextVideo] = "next" ></app-next-video>
        </div>
    </div>

</div>
