<div class="container" >
    <div class="video" >
        <div class="video-display" >
            <mat-video (click)="toggleVideo()" id="mat-video" style="width: 100%;  height: 100%;" [color]="primary" [quality]="true" [keyboard]="true" src="{{videos.url}}" [download]="toggle_download" autoplay="true" showFrameByFrame="true" [loop]="toggle_loop">
            </mat-video> 
        </div>
        <div (click)="goToNext()" class="next" style="cursor: pointer; background-color: lightgrey; width: 80px; display: flex;  align-items: center; padding: 10px; justify-content: center; margin-top: 10px;">
            <p style="margin: 0;">Next Video</p>
        </div>

        <div class="video-name">
            <h3>{{videos.name}}</h3>
        </div>

        <div class="video-detail">
            <div class="views">
                <p>{{videos.watch}} views &bull; {{calculate_day}}</p>
            </div>
            <div class="menu">
                <div class="like" title="i like this" (click)="likeVideo()">
                    <i class="fas fa-thumbs-up" [style.color]="toggle_thumb == 'like'? 'blue':'black' "></i>
                    <div>
                        <p>{{like.length}}</p>
                    </div>
                </div>

                <div class="dislike" title="i dislike this" (click)="dislikeVideo()">
                    <i class="fas fa-thumbs-down"  [style.color]="toggle_thumb == 'dislike'? 'blue':'black'"></i>
                    <div>
                        <p>{{dislike.length}}</p>
                    </div>
                </div>

                <div class="share" (click)="toggleShare()">
                    <i class="fas fa-share"></i>
                    <div>
                        <p>SHARE</p>
                    </div>
                </div>

                <div class="playlist" (click)="toggleModal()">
                    <i class="fas fa-list-ul"></i>
                    <div>
                        <p>SAVE</p>
                    </div>
                </div>
                
                <div class="profil">

                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="info-detail">
            <div class="profile">
                <img src="{{user.photo}}" alt="">
            </div>
            <div class="info">
                <div class="first-info">
                    <div class="profile-name">
                        <div>
                            <h4>{{user.name}}</h4>
                            <p>{{total_subs}} subscribers</p>
                        </div>
                    </div>
                    <div class="subs-notif" [style.display]="toggle_subs ? 'flex':'none'">
                        <div class="subs" (click)="subs()" [style.background-color]="change_subs ? 'red':'grey'">
                            <p>SUBSCRIBE</p>
                        </div>
                        <div *ngIf="toggle_subs">
                            <div class="notif" (click)="toggleNotif()" *ngIf="toggle_notif">
                                <i class="fas fa-bell" style="color: grey;"></i>
                            </div>
                            <div class="notif" (click)="toggleNotif()" *ngIf="!toggle_notif">
                                <i class="fas fa-bell" style="color: black;"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <div class="second-info">
                    <div>
                        <p>{{videos.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <hr>
        </div>

        <div class="comment-detail">
            <div class="comment-header">
                <div>
                    <p>{{comment.length}} Comments</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <div class="sort" (click)="toggleSort()">
                        <div>
                            <i class="fas fa-sort-amount-up-alt"></i>
                        </div>
                        <div>
                            <p>SORT BY</p>
                        </div>
                    </div>
                    <div *ngIf="toggle_sort">
                        <div>
                            <input type="radio" name="sort" id="sort" (click)="toggleNewest()">
                            <label for="sort">Newest</label>
                        </div>
                        <div>
                            <input type="radio" name="sort" id="sort">
                            <label for="sort">Top Liked</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-comment">
                <div class="comment-pic">
                    <img src="{{photoURL}}" alt="">
                </div>
                <div class="comment-input" (click)="toggleTrue()">
                    <input type="text" name="comment" id="comment" placeholder="Input comment here...">
                </div>
            </div>
            <div class="submit" *ngIf="toggle_comment">
                <div class="cancel" (click)="toggleComment()">
                    <p>CANCEL</p>
                </div>
                <div class="comment" (click)="insertComment()">
                    <p>COMMENT</p>
                </div>
            </div>
            
            <div class="user-container">
                <div *ngFor="let com of comment; index as i">
                    <app-comment [comments]="com" *ngIf="i<(lastIdx2)"></app-comment>
                </div>
                <div class="footer2">
                    <p> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="next-video" >
        <div class="next-text">
            <div>
                <p>Up next</p>
            </div>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <p style="opacity: 90%; font-size: 14px;">AUTOPLAY</p>
                <div>
                    <label class="switch" style="margin-left: 10px;">
                        <input type="checkbox" (click)="toggleAutoplay()">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
        <div *ngFor="let next of nextVideos; index as i">
            <app-next-video *ngIf="i<(lastIdx)" [nextVideo] = "next" ></app-next-video>
            <div *ngIf="i == 0">
                <hr>
            </div>
        </div>
        <div class="footer">
            <p> </p>
        </div>
    </div>

    <div class="modal" *ngIf="toggle_modal">
        <app-modal-playlist [videos]="videos"></app-modal-playlist>
    </div>

</div>

<div class="right-click-modal">
    <div class="menu" (click)="toggleLoop()">
        <p>Loop</p>
    </div>
    <div class="menu" (click)="copyMessage()">
        <p>Copy link video</p>
    </div>
    <div class="menu" (click)="copyMessageWithTime()">
        <p>Copy link with current time</p>
    </div>
</div>

<div id="myModal-video" class="modal-video" *ngIf="toggle_share">

    <div class="modal-content-video">
      <span class="close" style="display: flex; width: 100%; justify-content: flex-end;" (click)="toggleShare()" >&times;</span>
      <p style="margin: 0 0 20px 0;">Share to...</p>
      <div style="display: flex;">
          <a [href]="'http://twitter.com/share?text=This is video &url=' + url" target="_blank">
              <div class="twitter">
                  <i class="fab fa-twitter fa-2x"></i>
              </div>
          </a>
          <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + url" target="_blank">
              <div class="facebook">
                  <i class="fab fa-facebook-f fa-2x"></i>
              </div>
          </a>
      </div>
      <div class="text-copy">
          <div style="display: flex; align-items: center;">
              <div class="text">
                  <p style="background-color: lightgrey; padding: 5px; border-radius: 5px;">{{url}}</p>
              </div>
              <div class="logo" (click)="copyMessageShare()">
                  <i class="fas fa-copy fa-2x" style="opacity: 70%; margin-left: 10px;"></i>
              </div>
          </div>
          <div style="display: flex; align-items: center;">
              <div class="text">
                  <p style="background-color: lightgrey; padding: 5px; border-radius: 5px;">{{url2}}</p>
              </div>
              <div class="logo" (click)="copyMessageWithTimeShare()">
                  <i class="fas fa-copy fa-2x" style="opacity: 70%; margin-left: 10px;"></i>
              </div>
          </div>
          
      </div>
    </div>
  
  </div>

