.container{
    margin-top: 60px;
    padding: 10px;
    display: flex;

    .video {
        padding: 20px;
    }
    .next-video{
        padding-right: 20px;
    }   
}

.video{
    width: 70%;
    .video-display{
        display: flex;
        z-index: 0;
    }

    .video-detail{
        display: flex;
        justify-content: space-between;

        .menu{
            display: flex;

            div{
                cursor: pointer;
                align-items: center;
                display: flex;
                padding: 0 5px 0 5px;
            }
        }
    }

    .info-detail{
        display: flex;

        .profile{
            width: 8%;
            height: 100%;

            img{
                border-radius: 50px;
                width: 100%;
            }
        }

        .info{
            width: 92%;
            display: block;
            .first-info{
                height: 50%;
                display: flex;
                justify-content: space-between;
                div{
                    padding: 0 5px 0 5px;
                }
                .subs-notif{
                    display: flex;
                    align-items: center;

                    .subs{
                        
                        background-color: red;
                        p{
                            color: white;
                        }
                    }
                }
            }

            .second-info{
                height: 50%;
                div{
                    padding: 0 10px 0 10px;
                }
            }
        }
    }

    .comment-detail{
        .comment-header{
            display: flex;
            div{
                padding: 0 5px 0 5px;
            }
            .sort{
                display: flex;
                align-items: center;
            }
        }

        .my-comment{
            display: flex;
            align-items: center;
            div{
                padding: 0 5px 0 5px;
            }
            .comment-pic{
                width: 5%;
                img{
                    border-radius: 50px;
                    width: 100%;
                }
            }

            .comment-input{
                width: 95%;
                input{
                    width: 100%;
                }
            }
        }
        .submit{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            div{
                
                border-style: groove;
                padding: 0 10px 0 10px;
            }
        }
    } 
}

.next-video{
    width: 30%;
    padding: 0;

    .next-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin: 10;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked + .slider {
        background-color: #2196F3;
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
  
}  

.right-click-modal{
    position: absolute;
    display: none;
    background-color: white;
    opacity: 90%;
    .menu{
        &:hover{
            background-color: grey;
        }
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
}

a{
    color: inherit;
    text-decoration: none;
}
.modal-video {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content-video {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    display: flex; 
    flex-direction: column;
    .twitter{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        background-color: lightblue;
        color: white;
        border-radius: 50px;
        width: 70px;
        height: 70px;
    }
    .facebook{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        background-color: blue;
        color: white;
        border-radius: 50px;
        width: 70px;
        height: 70px;
    }
    .text-copy{
        display: flex;
        flex-direction: column;
        .text{
            width: 90%;
        }
        .logo{
            width: 10%;
        }
        
    }
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

