<div class="comment-user">
    <div class="img-user">
        <img src="{{user.photo}}" alt="">
    </div>
    <div class="user-detail">
        <div class="user-name">
            <p>{{user.name}}</p>
        </div>
        <div class="comment-description">
            <p>{{comments.comment}}</p>
        </div>
        <div class="comment-attribute">
            <div class="like">
                <i class="fas fa-thumbs-up"></i>
                <div>
                    <p>{{comments.like}}</p>
                </div>
            </div>

            <div class="dislike">
                <i class="fas fa-thumbs-down"></i>
                <div>
                    <p>{{comments.dislike}}</p>
                </div>
            </div>

            <div class="reply">
                <div>
                    <p>REPLY</p>
                </div>
            </div>
        </div>
    </div>
</div>