<div class="comment-user">
    <div class="img-user">
        <img src="{{user.photo}}" alt="">
    </div>
    <div class="user-detail">
        <div class="user-name">
            <p>{{user.name}} &bull; {{comment_date}}</p>
        </div>
        <div class="comment-description">
            <p>{{comments.comment}}</p>
        </div>
        <div class="comment-attribute">
            <div class="like" title="i like this" (click)="likeComment()">
                <i class="fas fa-thumbs-up" [style.color]="toggle_thumb == 'like'? 'blue':'black' "></i>
                <div>
                    <p>{{like.length}}</p>
                </div>
            </div>

            <div class="dislike" title="i dislike this" (click)="dislikeComment()">
                <i class="fas fa-thumbs-down"  [style.color]="toggle_thumb == 'dislike'? 'blue':'black'"></i>
                <div>
                    <p>{{dislike.length}}</p>
                </div>
            </div>

            <div class="comment" (click)="toggleComment()">
                <div>
                    <p>REPLY</p>
                </div>
            </div>
        </div>
        <div class="my-comment" *ngIf="toggle_comment">
            <div class="comment-pic">
                <img src="{{photoURL}}" alt="">
            </div>
            <div class="comment-input">
                <input type="text" name="reply" id="reply" placeholder="Input comment here...">
            </div>
        </div>
        <div class="submit" *ngIf="toggle_comment">
            <div class="cancel" (click)="toggleComment()">
                <p>CANCEL</p>
            </div>
            <div class="reply" (click)="insertReply()">
                <p>REPLY</p>
            </div>
        </div>
        <div *ngIf="is_exist">
            <div class="show" *ngIf="toggle_show" (click)="toggleShowAll()">
                <p style="color: blue; margin: 5px 0;">Show {{replyLen}} replies</p>
            </div>
            <div class="user-reply" *ngFor="let i of reply">
                <app-reply [replys]="i" *ngIf="toggle_showAll"></app-reply>
            </div>
            <div class="hide" *ngIf="!toggle_show" (click)="toggleShowAll()">
                <p style="color: blue; margin: 5px 0;">Hide replies</p>
            </div>

        </div>
    </div>
</div>